.highlighted {
  color: #fff;
  background: #3F3F3F;
}
.c-users-list {
  display: table;
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;

  .c-users-list__header {
    display: table-row;
    font-size: 16px;
    font-weight: 500;
    background-color: #2a97eb;
    color: #fff;

    > div {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
    }
  }

  .c-users-list__body {
    display: table-row;
    height: 64px;

    > div {
      display: table-cell;
      padding: 0 8px;
      vertical-align: middle;
    }
  }

  .c-users-list__body:nth-child(odd) {
    background: -webkit-linear-gradient(90deg,  transparent 0px, transparent 1px, #edeff0 1px, #edeff0 100%);
    background: linear-gradient(0deg,  transparent 0px, transparent 1px, #edeff0 1px, #edeff0 100%);
    }

  .c-users-list__avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
  }

  .c-users-list__main-info {
    display: flex;
    align-items: center;
  }
}
